:root {
    --mainColor: #16141a;
    --textColor: #800020;
    --secodaryColor: #f21643;

    --darkColor: #fe8d59;

    --bgColor: #212628;
    --transition: all 0.5s ease;

    --switch-width: 60px;
    --switch-height: 25px;
    --switch-rounded: 50px;
    --switch-padding: 5px;
    --switch-bg: linear-gradient(to bottom, #73bbff, #a2d1fd);
    --switch-bg-dark: linear-gradient(to bottom, #2b3347, #181d27);
}



* {
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

body{
    transition: var(--transition);
}

body.dark{
    background-color: var(--bgColor);
}

body.dark .switch{
    background: var(--switch-bg-dark);

    
}

body.dark .nav{
    background-color: var(--bgColor);
}

body.dark .nav-anchors a{
    color: white;
}

body.dark .main-titulo h3{
    color: white;
}

body.dark .main-titulo img{
    /* background-color: white;
    border-radius: 20%; */

      filter: invert(100%) sepia(100%) saturate(0) hue-rotate(270deg) brightness(100%)
}

body.dark .main-titulo__cita{
    color: white;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.container-grid {
    width: 75%;
    margin: 0 auto;
}

.switch{
    width: var(--switch-width);
    height: var(--switch-height);
    border-radius: var(--switch-rounded);
    cursor: pointer;
    background: var(--switch-bg);
    transition: var(--transition);
}

.switch input{
    display: none;
}

.sunmoon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffc187;
    box-shadow: 0px 0px 20px #ffc187;
    transition: var(--transition);
}

body.dark .sunmoon{
    display: block;
    margin-left: 33px;
    background: #dee5f3;
    box-shadow: 0px 0px 20px #f2f4f7;
    
}

body.dark .cloud-2{
    display: none;
}

body.dark .cloud-1{
    margin-top: 5px;
    margin-left: -10px;
}

body.dark .container-images h1{
    color: var(--darkColor);
}

/* body.dark .hero-text{
    color: var(--bgColor);
} */

.darkside{
    display: flex;
}

.cloud-1{
    margin-top: 4px;
    height: 25px;
    margin-left: 3px;
}

.cloud-2{
    height: 23px;
}



.nav-logo {
    width: 150px;
}


.nav {
    display: flex;
    justify-content: space-between; /* Alinea el logo a la izquierda y el ícono del menú a la derecha */
    padding: 10px;
    background-color: var(--mainColor);
}

.nav-anchors {
    display: none;
    width: 100%; /* Ocupa todo el ancho disponible */
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.nav-anchors a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 1px solid white;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    padding-bottom: 1px;
    /* Espacio para la línea */
    transition: transform 0.1s linear;
}

.nav-anchors a:hover{
    transform: scale(1.2);
}

.menu-toggle {
    display: none;
}

.menu-icon  {
    width: 40px;
    height: 40px;
    background-image: url("./img/icons8-menú.svg");
    cursor: pointer;
    }

.nav:has(.menu-toggle:checked) .nav-anchors {
    display: flex;
    flex-direction: column;
}

.nav:has(.menu-toggle:checked) .nav-logo-anchors {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el logo y los enlaces horizontalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
}

.nav:has(.menu-toggle:checked) .menu-icon  {
   background-image: url("./img/icons8-eliminar.svg");
}


.header-hero {
    height: 300px;
    width: 100%;
    background-image: url("./img/Venom_lengua.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-hero {
    display: flex;
    justify-content: center;
    height: 100%;

}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    height: 100%;
    width: 400px;
}

.hero-text-h1 {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.hero-text-h1 h1 {
    color: var(--textColor);
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.hero-text-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text-h2 h2:first-child {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
}

.hero-text-h2 h2:last-child {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.hero-text-h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hero-text-h3 h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
  
}

.btn-cta {

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: var(--textColor);
    padding: 5px;
    border-radius: 6px;

}

.btn-cta:hover {
    cursor: pointer;
    padding: 10px;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.container-main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin-top: 30px;

}


.container-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-images h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--textColor);
}

.main-titulo {
    display: flex;
    gap: 10px;
    justify-content: center;

    img {
        width: 25px;
    }

    h3 {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
        
    }
}

.main-titulo__cita {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
}

.layout-shifter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen cubra completamente el área sin distorsionarse */
    display: block;
    /* Elimina cualquier espacio extra debajo de la imagen */
}

.footer {

    height: 100px;
    margin-top: 100px;
    margin-bottom: 25px;
    background-color: #16141a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-info {
    width: 80%;
    margin: 0 auto;



}

.imagen1,
.imagen2,
.imagen3,
.imagen4 {
    transition: transform 0.4s linear;

}


.imagen1:hover,
.imagen2:hover,
.imagen4:hover {
    filter: saturate(150%);
    transform: scale(1.1);
}

.imagen3:hover {
    filter: saturate(150%);
    transform: scale(1.05);
}

@media (min-width: 992px) {

    .container-hero {
        justify-content: flex-end;
        width: 90%;
    }

    .nav {
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        background-color: white; 
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-left: 180px;
    }

    .nav-anchors {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 60px;
    }

    .nav-anchors a {
        color: var(--mainColor);
    }

    .nav-anchors a:hover {
        color: var(--textColor);
        border-bottom: 3px solid #800020;
    }

    .nav-logo-anchors{
        display: flex;
        gap: 200px;
    }

    .menu-icon {
        display: none; /* Oculta el ícono de menú en escritorio */
    }

    .layout-shifter {
        display: grid;
        /* Define 3 columnas iguales */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
    }

    .imagen1 {
        /* Se coloca en la primera fila, primera columna */
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .imagen2 {
        /* Se coloca en la primera fila, segunda columna */
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .imagen3 {
        /* Ocupa la segunda fila completa, abarcando las 3 columnas */
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }

    .imagen4 {
        /* Se coloca en la primera fila, tercera columna */
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    .footer {

        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media (min-width: 1300px) {

    .nav-anchors{
        gap: 150px;

    }

    .nav-logo-anchors{
        gap: 250px;
    }
    
}